{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block body %}
	<div class = "row">
        <div class="col-md-8 col-centered">
        	<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        	<p> {{ user.username }} </p>
        	<h4> About: </h4>
        	<p>
        		{{ user.profile.bio }}
        	</p>
        </div>
        <form method="POST" enctype="multipart/form-data">
          	{% csrf_token %}
         	<fieldset class="form-group">
            	<legend class="border-bottom mb-4">Profile Info</legend>
            		{{ u_form|crispy }}
            		{{ p_form|crispy }}
          	</fieldset>
          	<div class="form-group">
            	<button class="btn btn-outline-info" type="submit">Update</button>
          	</div>
      	</form>
    </div>

{% endblock %}